@model WebApplication2.TitleHolders

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TitleHolders</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FighterId" class="control-label"></label>
                <select asp-for="FighterId" class="form-control" asp-items="ViewBag.FighterId"></select>
                <span asp-validation-for="FighterId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="TitleId" />
            <div class="form-group">
                <label asp-for="DateOfGettingTitle" class="control-label"></label>
                <input asp-for="DateOfGettingTitle" class="form-control" />
                <span asp-validation-for="DateOfGettingTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
